:root {
    --primary: #191726;
    --accent: #027368;
    --gray: #5D7173;
    --light-gray: #B4BEBF;
    --white: #F2F2F2; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    color: var(--white);
    font-family: sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    padding: 1.5rem 10%;
    background: rgba(25, 23, 38, 0.8);
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -1px;
    text-decoration: none;
    color: var(--white);
}

nav .logo span {
    color: var(--accent);
}

nav .navLinks {
    display: flex;
    list-style: none;
    gap: 2.5rem;
    align-items: center;
}

nav .navLinks a{
    text-decoration: none;
    color: var(--light-gray);
    font-weight: 500;
    transition: 0.3s;
}

nav .navLinks a:hover{
    color: var(--accent);
}

nav a.btnDocument {
    background: var(--accent);
    color: var(--white);
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(2, 115, 104, 0.3);
    cursor: pointer;
}

nav a.btnDocument:hover {
    background: #02534b;
    color: var(--light-gray);
    transition: all 0.3s; 
}

main section.principal {
    position:relative;
    padding: 100px 10% 200px;
    text-align: center;
    background: linear-gradient(180deg, var(--primary) 0%, #222035 100%);
}

main section div.principalMain h1{
    font-size: 4.5rem;
    margin: 20px 0;
    line-height: 1.1;
}

main section div.principalMain h1 span {
    color: var(--accent);
}

main section div.principalMain p {
    color: var(--light-gray);
    max-width: 600px;
    margin: 0 auto 46px;
    font-size: 1.2rem;
}

main section.principal div.searchBar {
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 15px;
    display: flex;
    max-width: 600px;
    margin: 0 auto;
}

main section.principal div.searchBar input {
    flex: 1;
    background: transparent;
    border: none;
    padding: 15px;
    color: var(--white);
    font-size: 1rem;
    outline: none;
}

main section.principal div.searchBar button {
    background: var(--accent);
    color: var(--white);
    border: none;
    font-size: 1rem;
    padding: 0 30px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

main section.principal div.searchBar button:hover {
    background: #02534b;
    color: var(--light-gray);
    transition: all 0.3s; 
}

main section.principal div.waveDivisor {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
}

main section.principal div.waveDivisor svg {
    width: 100%;
    height: 100px;
}

main section.principal div.waveDivisor .shape-fill {
    fill: var(--white);
}